@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Regular.ttf");
}



.ok{
  color: #FF6060;
  font-size: 80px;
  margin-left: 60px;
  width: 85%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

.App-header{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 1240px;
}


.App-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.App-info>a{
  color: #FF6060;
  text-decoration: none;
}

.App-info>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.App-SmallPoster{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.SmallPoster1{
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  background-image: url('./data/home.png');
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FFFFFF;
  font-size: 48px;
}

.SmallPoster2{
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  background-image: url('./data/apropos.png');
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FFFFFF;
  font-size: 48px;
}

.SmallPoster>p{
  size: 48px;
}


.App-holder{
  background-color: #F6F6F6;
  max-width: 1240px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-top: 13px;
  padding-bottom: 56px;
}

.Card{
  height: 340px;
  width: 340px;
  border-radius: 10px;
  position: relative;
  margin-top: 43px;
}

.Card>img{
  object-fit: cover;
  height: 340px;
  width: 340px;
  border-radius: 10px;
}

.Card>p{
  color: aliceblue;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.Footer{
  height: 209px;
  background-color: black;
  width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.Footer>img{
  width: 122px;
  height: 40px;
  margin-top: 65px;
}

.Footer>p{
  color: white;
  margin-top: 40px;
  font-size: 24px;
}

.App-BigPoster{
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  position: relative;
}

.position{
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #FFFFFF;
}

.lightbox{
  object-fit: cover;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}

.arrowLeft, .arrowRight{
  width: 80px;
  height: 47px;
  position: absolute;
  top: 180px;
  cursor: pointer;
}

.arrowLeft{
  transform: rotate(90deg);
  left: 10px;
}

.arrowRight{
  right: 10px;
  transform: rotate(-90deg);
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.accordion{
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.accordionpropos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contentBox{
  width: 582px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.contentPropos{
  width: 1023px;
  background-color: #F6F6F6;
  border-radius: 10px;
}
.question{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.question>h3{
  font-size: 18px;
  padding-left: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

.question>img{
  padding-right: 20px;
}

.fa-angle-down{
  font-size: 30px;
}

.content>p{
padding-top: 1rem;
line-height: 142.6%;
font-size: 18px;
font-style: normal;
font-weight: 400;
word-wrap: break-word;
color: #FF6060;
padding: 18px;
}

.content{
  overflow: hidden;
  height: 320px;
}

.accordion.active .content{
  max-height: 300px;
}

.tags{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 25px;
  background-color: #FF6060;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  margin-right: 12px;
}

.tags-holder{
  display: flex;
  flex-direction: row;
}

.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
}

.error-404{
  font-size: 288px;
  font-weight: bolder;
}

.error-content{
  font-size: 36px;
}

.error-home{
  font-size: 18px;
  margin-top: 310px;
}

.reverse{
  transform: rotate(180deg);
  position: absolute;
  right: 20px;
}

.accordion-holder{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.info{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #FF6060;
  align-items: center;
  margin-bottom: -22px;
}

.info>h2{
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.info-location{
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #FF6060;
}

.info-name{
  display: flex;
  align-items: center;
}

.info-name>img{
  border-radius: 40px;
  height: 64px;
  width: 64px;
}

.info-name>p{
  width: 70px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  padding-right: 10px;
}

.info-short{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.star{
  padding-left: 10px;
}