.ok{
  color: #FF6060;
  font-size: 80px;
  margin-left: 60px;
  width: 85%;
}

.App-header{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.App-logo{
  margin-left: 100px;
}

.App-info{
  display: flex;
  margin-right: 50px;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}

.App-info>p{
  color: #FF6060;
}